.link-in-list {
  font-size: 80%;
  color: #888;
  word-wrap: break-word;
}

.link-in-list > a {
  color: #888;
}

.point-col {
  height: 20px;
}

.article-title {
  margin-bottom: 0px;
}

.article-title-for-sub a:link,
.article-title-for-sub a:visited,
.article-title-for-sub a:hover,
.article-title-for-sub a:active {
  margin-bottom: 0px;
  color: #333;
}

.article-point {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2px;
}

.article-comment-count {
  margin-bottom: 4px;
}

.rss-row {
  margin-top: 3px;
  margin-bottom: 3px;
}

.blank-row {
  height: 50px;
}

.login-link-button {
  display: block;
}

.comment-row {
  margin-top: 3px;
  margin-bottom: 3px;
  border: solid 2px #fc9;
}

.tweet-display-name > a:link,
.tweet-display-name > a:visited,
.tweet-display-name > a:hover,
.tweet-display-name > a:active {
  font-size: 90%;
  text-decoration: underline; 
  margin-right: 5px;
  color: #555;
}

.tweet-id-name > a:link,
.tweet-id-name > a:visited,
.tweet-id-name > a:hover,
.tweet-id-name > a:active {
  font-size: 90%;
  margin-right: 5px;
  color: #aaa;
}

.tweet-time > a:link {
  font-size: 90%; 
}

.main-message {
  font-size: 150%;
  text-align: center;  
}

.done-progress-bar {
  background-color: #fff;
}