.link-in-list {
  font-size: 80%;
  color: #888;
  word-wrap: break-word;
}

.logout-link {
  display: block;
  word-break: break-all;
  font-size: 80%;
  padding: 0px;
}

.link-in-list > a {
  color: #888;
}

.point-col {
  height: 20px;
}

.article-title {
  margin-bottom: 0px;
}

.article-title-for-sub a:link,
.article-title-for-sub a:visited,
.article-title-for-sub a:hover,
.article-title-for-sub a:active {
  margin-bottom: 0px;
  color: #333;
}

.article-point {
  font-size: 100%;
}

.article-comment-count {
  font-size: 100%;
  color: #444;
  text-decoration: underline;
}

.rss-row {
  margin-top: 3px;
  margin-bottom: 3px;
}

.blank-row {
  height: 50px;
}

.login-link-button {
  display: block;
}

.login-link {
  display: inline;
}

.username-text {
  display: inline;
  word-break: break-all;
}

.rss-url {
  word-break: break-all;
}

.comment-row {
  margin-top: 3px;
  margin-bottom: 3px;
  border: solid 2px rgb(130,220,255);
}

.comment-row-hatebu {
  margin-top: 3px;
  margin-bottom: 3px;
  border: solid 2px #ddd;
}

.tweet-display-name > a:link,
.tweet-display-name > a:visited,
.tweet-display-name > a:hover,
.tweet-display-name > a:active {
  font-size: 90%;
  text-decoration: underline; 
  margin-right: 5px;
  color: #555;
}

.tweet-id-name > a:link,
.tweet-id-name > a:visited,
.tweet-id-name > a:hover,
.tweet-id-name > a:active {
  font-size: 90%;
  margin-right: 5px;
  color: #aaa;
}

.tweet-time > a:link {
  font-size: 90%; 
}

.main-message {
  font-size: 150%;
  text-align: center;  
}

.done-progress-bar {
  background-color: #fff;
}

.ga-agreement {
  font-size: 80%;
}

.login-link-button-top {
  margin: 10px;
}

.rss-example {
  font-size: 90%;
  text-align: center;
}

.article-rank {
  font-size: 120%;
  color: #333;
  text-align: center;
}

.right-margin {
  margin-right: 20px; 
}

/* .second-article-row {
  padding-bottom: 15px;
} */

.comment-row-common {
  margin: 2px -7px;
}

.article-item {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 5px;
}